<div id="signupbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Sign Up</div>
            <div style="singip-text"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
        </div>
        <div class="panel-body" >
            {form registrationForm}
                <p n:foreach="$form->errors as $error" id="login-alert" class="alert alert-danger col-sm-12">{$error}</p>
                
                <div class="form-group">
                    <label for="email" class="col-md-3 control-label">Username</label>
                    <div class="col-md-9">
                        {input username}
                    </div>
                </div>

                <div class="form-group">
                    <label for="firstname" class="col-md-3 control-label">Email</label>
                    <div class="col-md-9">
                        {input email}
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-md-3 control-label">Password</label>
                    <div class="col-md-9">
                        {input password}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        {input submit}
                        <span style="margin-left:8px; margin-right:8px;">or</span>
                        <a href="{plink fbLogin-open!}" class="btn btn-primary">Sign Up with Facebook</a>
                    </div>
                </div>
            {/form}
        </div>
    </div>
</div>
